@model FlightListViewModel
<h1>Flights</h1>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <table class="table-responsive table table-bordered table-striped col-12">
                <thead>
                <th>Id</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Departure Time</th>
                <th>Flight Duration</th>
                <th>Book Tickets</th>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.DepartureCity</td>
                        <td>@item.ArrivalCity</td>
                        <td>@item.DepartureTime</td>
                        <td>@item.FlightDuration</td>
                        <td>
                            <a href="@Url.Action("Add","Reservations", new { Id = item.Id })" class="btn btn-primary">Add Reservation</a>

                            @**<form asp-action="Add" asp-controller="Reservations" asp-route-id="@item.Id" method="get">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            Add Reservation
                                        </button>
                                    </form>**@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
