@model FlightAdminListViewModel
<h1>Flights</h1>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <table class="table-responsive table table-bordered table-striped col-12">
                <thead>
                <th>Id</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Departure Time</th>
                <th>Flight Duration</th>
                <th>Plane Model</th>
                <th>Plane Id</th>
                <th>Pilot Name</th>
                <th>Economy Passengers Capacity</th>
                <th>Business Passengers Capacity</th>
                <th>Reservations</th>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DepartureCity</td>
                            <td>@item.ArrivalCity</td>
                            <td>@item.DepartureTime</td>
                            <td>@item.FlightDuration</td>
                            <td>@item.PlaneModel</td>
                            <td>@item.PlaneID</td>
                            <td>@item.PilotName</td>
                            <td>@item.CapacityEconomyPassengers</td>
                            <td>@item.CapacityBusinessPassengers</td>
                            <td>
                                <a href="@Url.Action("Details","Flights", new { Id = item.Id })" class="btn btn-primary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>