@using Data.Entity;
@model IEnumerable<ApplicationUser>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <h1 class="bg-info text-white">All Users</h1>
    <a href="@Url.Action("Create","User")" class="btn btn-success">Create a User</a>

    <div class="card-body">
        <table class="w3-table-all">
            <tr>
                <th>ID</th>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>EGN</th>
                <th>EEmail</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            @foreach (ApplicationUser user in Model)
            {
                <tr class="w3-hover-blue">
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.EGN</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address</td>
                    <td><a href="@Url.Action("Edit","User", new {Id = user.Id})" class="btn btn-success">Update</a></td>
                    <td><a href="@Url.Action("Delete","User", new {Id = user.Id})" class="btn btn-success">Delete</a></td>
                </tr>
            }
        </table>
    </div>