@using Data.Entity;
@model IEnumerable<ApplicationUser>
  
<h1 class="bg-info text-white">All Users</h1>
<a href="@Url.Action("Create","User")" class="btn btn-success">Create a User</a>
  
<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Name</th><th>Email</th></tr>
    @foreach (ApplicationUser user in Model)
    {
    <tr>
        <td>@user.Id</td>
        <td>@user.UserName</td>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.EGN</td>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>
        <td>@user.Address</td>
        <td><a href="@Url.Action("Edit","User", new {Id = user.Id})" class="btn btn-success">Update</a></td>
        <td><a href="@Url.Action("Delete","User", new {Id = user.Id})" class="btn btn-success">Delete</a></td>
    </tr>
    }
</table>