@model IEnumerable<UserViewModel>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <h1 class="text-dark">All Users</h1>
    <a href="@Url.Action("Create","User")" class="btn btn-success">Create a User</a>

    <div class="card-body">
        <table class="w3-table-all">
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>EGN</th>
                    <th>Phone Number</th>
                    <th>Adress</th>
                    <th>Employed</th>
                    <th></th>
                    <th></th>
                </tr>
            @foreach (UserViewModel user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.EGN</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Address</td>
                <td>
                    @if(user.IsEmployed)
                    {
                        <i class="fas fa-check icon-green"></i>
                    }
                    else
                    {
                        <i class="fas fa-times icon-red"></i>
                    }
                </td>
                <td><a href="@Url.Action("Edit","User", new {Id = user.Id})" class="btn btn-success">Update</a></td>
                <td>
                    @if(user.IsAdmin)
                    {
                        <button class="btn btn-danger disabled">Delete</button>
                    }
                    else if(user.IsEmployed)
                    {
                        <a href="@Url.Action("Delete","User", new {Id = user.Id})" class="btn btn-danger">Delete</a>
                    }
                    else if(!user.IsEmployed)
                    {
                        <a href="@Url.Action("DeleteRecord","User", new {Id = user.Id})" class="btn btn-danger">Delete Record</a>
                    }
                </td>
            </tr>
            }
        </table>
    </div>