@model FlightAdminViewModel
@{ 
    ViewData["Title"] = "Edit Flight";
}
    <div class="container bg-light">
        @using (Html.BeginForm("Edit", "FlightsAdmin", FormMethod.Post,
  new { @class = "" }))
        {
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartureCity, "Departure City")
                @Html.EditorFor(model => model.DepartureCity, new { htmlAttributes = new { placeholder = "Departure City", @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ArrivalCity, "Arrival City")
                @Html.EditorFor(model => model.ArrivalCity, new { htmlAttributes = new { placeholder = "Arrival City", @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartureTime, "Departure Time")
                @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { placeholder = "Departure Time", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureTime)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ArrivalTime, "Arrival Time")
                @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { placeholder = "Arrival Time", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArrivalTime)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PlaneModel, "Plane Model")
                @Html.EditorFor(model => model.PlaneModel, new { htmlAttributes = new { placeholder = "Plane Model", @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PlaneID, "Plane Id")
                @Html.EditorFor(model => model.PlaneID, new { htmlAttributes = new { placeholder = "Plane Id", @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PilotName, "Pilot Name")
                @Html.EditorFor(model => model.PilotName, new { htmlAttributes = new { placeholder = "Pilot Name", @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CapacityEconomyPassengers, "Economy Passengers Capacity")
                @Html.EditorFor(model => model.CapacityEconomyPassengers, new { htmlAttributes = new { placeholder = "Economy Passengers Capacity", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapacityEconomyPassengers)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CapacityBusinessPassengers, "Business Passengers Capacity")
                @Html.EditorFor(model => model.CapacityBusinessPassengers, new { htmlAttributes = new { placeholder = "Business Passengers Capacity", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapacityBusinessPassengers)
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        }
    </div>
